name: build/docker

on:
  workflow_call:
    inputs:
      publish:
        required: true
        type: boolean

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup runner
        uses: webdevops/setup-runner@main

      - name: Setup go
        uses: webdevops/setup-go@main

      - name: Run Golangci lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --print-resources-usage

  build:
    name: "build ${{ matrix.Dockerfile }}:${{ matrix.target }}"
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        include:
          - Dockerfile: Dockerfile
            target: "final-static"
            suffix: ""
            latest: "auto"
          - Dockerfile: Dockerfile
            target: "final-azcli"
            suffix: "-azcli"
            latest: false

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup runner
        uses: webdevops/setup-runner@main

      - name: Setup go
        uses: webdevops/setup-go@main

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}
            quay.io/${{ github.repository }}
          labels: |
            io.artifacthub.package.readme-url=https://raw.githubusercontent.com/${{ github.repository }}/${{ github.event.repository.default_branch }}/README.md
          flavor: |
            latest=${{ matrix.latest }}
            suffix=${{ matrix.suffix }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        if: ${{ inputs.publish }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to Quay
        uses: docker/login-action@v3
        if: ${{ inputs.publish }}
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: ${{ inputs.publish && 'Build and push' || 'Build' }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./${{ matrix.Dockerfile }}
          target: ${{ matrix.target }}
          platforms: linux/amd64,linux/arm64
          push: ${{ inputs.publish }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
